
.consultation
    .background.big-polygon
        svg(width="223" height="255" viewBox="0 0 223 255" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M107.5 1.3094C109.975 -0.119661 113.025 -0.119661 115.5 1.3094L218.784 60.9406C221.259 62.3697 222.784 65.0107 222.784 67.8688V187.131C222.784 189.989 221.259 192.63 218.784 194.059L115.5 253.691C113.025 255.12 109.975 255.12 107.5 253.691L4.21574 194.059C1.74053 192.63 0.215736 189.989 0.215736 187.131V67.8688C0.215736 65.0107 1.74053 62.3697 4.21574 60.9406L107.5 1.3094Z" fill="#EBF2FC")
    .background.middle-polygon
        svg(width="177" height="201" viewBox="0 0 177 201" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M84.5 1.3094C86.9752 -0.11966 90.0248 -0.119661 92.5 1.3094L172.402 47.4406C174.877 48.8697 176.402 51.5107 176.402 54.3688V146.631C176.402 149.489 174.877 152.13 172.402 153.559L92.5 199.691C90.0248 201.12 86.9752 201.12 84.5 199.691L4.59842 153.559C2.12321 152.13 0.598419 149.489 0.598419 146.631V54.3688C0.598419 51.5107 2.12321 48.8697 4.59842 47.4406L84.5 1.3094Z" fill="#EBF2FC")
    .background.small-polygon
        svg(width="121" height="137" viewBox="0 0 121 137" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M56.5 1.3094C58.9752 -0.11966 62.0248 -0.119661 64.5 1.3094L116.689 31.4406C119.164 32.8697 120.689 35.5107 120.689 38.3688V98.6312C120.689 101.489 119.164 104.13 116.689 105.559L64.5 135.691C62.0248 137.12 58.9752 137.12 56.5 135.691L4.31124 105.559C1.83603 104.13 0.311234 101.489 0.311234 98.6312V38.3688C0.311234 35.5107 1.83603 32.8697 4.31123 31.4406L56.5 1.3094Z" fill="#EBF2FC")


    form
        label
            input(type="text" placeholder="Ваше имя")
        label
            input(type="text" placeholder="Email")
        button(type="button") Получить консультацию