
.consultation
    form
        label
            input(type="text" placeholder="Ваше имя")
        label
            input(type="text" placeholder="Email")
        button(type="button") Получить консультацию