
.modal__wrapper#discussProblem
    .dialog__wrapper
        .dialog#discussProblemDialog
            button.close#closeDiscuss
                img(src="./assets/images/header/close.svg" alt="close")
            h1 Оставьте заявку
            form#discussForm
                label#discussLabelName
                    input(placeholder="Ваше имя").input#discussInputName
                label#discussLabelEmail
                    input(placeholder="Email").input#discussInputEmail
                label#discussLabelDescription
                    textarea(placeholder="Пожалуйста опишите вашу проблему").input#discussInputDescription

                input(type="submit" class="modal__submit" value="отправить" id="discussSubmit")
                p.success-message#discussSuccessMessage Ваша заявка успешно отправлена!
