#discussProblem{
  display: none;
}
#discussProblem.active{
  display: block;
}
.modal__wrapper{
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, .2);
  justify-content: center;
  align-items: center;
  .dialog__wrapper{
    max-width: 500px;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
  }
  .dialog{
    max-width: 500px;
    margin: 50px auto;
    width: 100%;
    background-color: white;
    padding: 20px 20px 60px;
    border-radius: 20px;
    h1{
      text-align: center;
      font-size: 22px!important;
      padding: 25px 0;
      color: #282C37;
    }
    form{
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      label{
        display: block;
        width: 100%;
        max-width: 400px;
        margin-bottom: 23px;
        input, textarea{
          display: block;
          width: 100%;
          height: 50px;
          padding: 14px 21px;
          border-radius: 8px;
          border: 1px solid #282C37;
          outline: none;
        }
        input::placeholder, textarea::placeholder{
          font-family: Lato-Italic, sans-serif;
          font-size: 18px;
          line-height: 21.6px;
        }
        input{
          font-family: Lato-Regular, sans-serif;
          font-size: 18px;
          line-height: 21.6px;
        }
        textarea{
          min-height: 191px;
          resize: none;
        }
      }
      label.error{
        input, textarea{
          border: 1px solid #CF4747;
        }
      }
      label.error::after{
        content: "поле обязательно*";
        padding-left: 10px;
        color: #CF4747;
        font-size: 14px;
        line-height: 16.8px;
        font-family: Lato-Italic, sans-serif;
      }
      input.modal__submit{
        border: none;
        display: block;
        background-color: #47CF34;
        color: white;
        text-transform: uppercase;
        font-family: Montserrat-700, sans-serif;
        font-size: 16px;
        line-height: 19.5px;
        width: 100%;
        padding: 15px 0;
        border-radius: 8px;
        max-width: 400px;
        transition: .2s;
        &:disabled, &:disabled:hover{
          background-color: #9FA7B0;
        }
        &:hover{
          cursor: pointer;
          background-color: #30B01E;
        }
      }
      .success-message{
        display: none;
        width: 248px;
        margin-top: 37px;
        color: #30B01E;
        font-family: Lato-Medium, sans-serif;
        font-size: 18px;
        line-height: 21.6px;
        text-align: center;
      }
    }
  }
}

@media (max-width: 991px) {
  .modal__wrapper{
    .dialog{
      padding: 0;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin: 0;
      border-radius: 0;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1{
        margin-bottom: 20px!important;
      }
      form{
        width: 400px;
      }
    }
    .close{
      position: absolute;
      top: 20px;
      left: 30px;
    }
  }
}

@media(max-width: 575px){
  .modal__wrapper{
    .close{
      top: 28px;
      left: 24px;
    }
    .dialog{
      padding: 0;
      h1{
        font-family: Lato-Medium, 'sans-serif';
        font-size: 22px;
        line-height: 26.4px;
      }
      form{
        width: 292px;
      }
    }
  }
}