doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        title services
    body
        -
            breadcrumbs = [
                {
                    name: 'Главная',
                    url: './index.html'
                },
                {
                    name: 'Тренинги',
                    url: './trainings.html'
                }
            ]
            trainings = [
                {
                    title: "Бизнес-тренинг «Маркетинг – технология роста»",
                    description: ["Для кого: руководители компаний, маркетологи, продавцы", "Цели бизнес-тренинга:"],
                    items: [
                        "Определение маркетинга как технологии роста",
                        "Организация маркетинга как сквозного бизнес-процесса",
                        "Получение практических навыков применения технологии маркетинга"
                    ]
                },
                {
                    title: "Тренинг с длинным названием в 3 текстовой строчки",
                    description: ["Для кого: руководители компаний, маркетологи, продавцы", "Цели бизнес-тренинга:"],
                    items: [
                        "Определение маркетинга как технологии роста",
                        "Организация маркетинга как сквозного бизнес-процесса",
                        "Получение практических навыков применения технологии маркетинга",
                        "Получение практических навыков применения технологии маркетинга"
                    ]
                },
                {
                    title: "Короткое название",
                    description: ["Для кого: руководители компаний, маркетологи, продавцы", "Цели бизнес-тренинга:"],
                    items: [
                        "Определение маркетинга как технологии роста",
                        "Организация маркетинга как сквозного бизнес-процесса",
                        "Получение практических навыков применения технологии маркетинга"
                    ]
                }
            ]
        include ../../components/header/header
        include ../../components/breadCrumbs/breadCrumbs
        include ../../components/background/background
        .container
            +breadCrumbs(breadcrumbs)
            section.trainings
                include ../../components/trainingCard/trainingCard
                each card in trainings
                    .training
                        +trainingCard(card)

        include ../../components/footer/footer