doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title index
    body
        include ../../components/header/header
        h1 Main
        a(href="./services.html") Services
