doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet")
        title index
    body
        -
            features = [
                "Как найти точки роста и определить цели?",
                "Как увеличить прибыль, управляя ценами?",
                "Как избежать проблем на старте нового бизнеса?",
                "Как не попасть в \"черную дыру\" затрат на продвижение?"
            ]

            decidions = [
                {
                    text: "Разрабатываем маркетинг-план: дорожная карта достижения целей",
                    img: "report"
                },
                {
                    text: "Повышаем эффективность продвижения: аудит существующей модели",
                    img: "idea"
                },
                {
                    text: "Находим скрытую прибыль: анализ модели ценообразования",
                    img: "search"
                },
                {
                    text: "Запускаем новый проект: start-up маркетинг",
                    img: "startup"
                }
            ]

        include ../../components/header/header
        section.banner
            .container
                img(src="./assets/images/backgrounds/banner.svg").banner-background
                img(src="./assets/images/backgrounds/banner-ipad.svg").banner-ipad-background
                .title
                    h1 Создаем решения
                    h2 Для роста бизнеса
                    p.col-xl-5 На основе анализа данных с алгоритмами реализации
                    button.primary Обсудить проблему
                .features
                    .row.features-row
                        each item in features
                            .col-xl-1.col-lg-0.col-md-0
                            .col-xl-4.col-lg-6.col-md-6.item
                                .row.g-4
                                    .col-xl-3.col-lg-2.col-md-2
                                        include ../../assets/images/cube.svg
                                    .col-xl-9.col-lg-10.col-md-10.text= item
                            .col-xl-1.col-lg-0.col-md-0
                h3 Услуги
        .decidions
            .container
                .grid
                    each box, index in decidions
                        div(class=`box box-${index+1}`)
                            img(src=`./assets/images/decidions/${box.img}.svg`)
                            p=box.text
        include ../../components/footer/footer