.banner{
  width: 100%;
  margin-top: 94px;
  .container {
    position: relative;
    .background{
      display: block;
      position: relative;
      z-index: -1;
    }
    .vector-top{
      display: block;
      margin: 0 auto;
      right: 36px;
    }
    .vector-top-ipad, .vector-middle-ipad{
      display: none;
    }
    .header-polygons{
      position: absolute;
      left: 13px;
      top: 38px;
    }
    .banner-image{
      position: absolute;
      right: 14px;
      top: 9px;
    }
    .title {
      padding: 23px 30px 0;
      h1 {
        text-transform: uppercase;
        font-family: 'Montserrat-700', sans-serif;
        font-size: 44px;
        line-height: 53.64px;
        margin: 0;
      }

      h2 {
        text-transform: uppercase;
        font-family: 'Montserrat-700', sans-serif;
        font-size: 30px;
        line-height: 36.57px;
        margin: 3px 0 20px;
      }

      p {
        font-family: 'Lato-Regular', sans-serif;
        font-size: 22px;
        line-height: 26.4px;
      }
      button.primary{
        margin-top: 30px;
        width: 264px;
      }
    }
    .vector-middle{
      margin: 27px auto 37px;
      right: 57px;
    }
    .arrows{
      display: none;
    }
    .features{
      margin-top: 0;
      .item{
        display: block;
        font-size: 18px;
        line-height: 22px;
        padding-right: 10px;
        margin-bottom: 76px;
        transition: .2s;
        &:hover *, &:focus *{
          color: #5391DC;
          text-decoration: underline;
        }
      }
    }
    .vector-bottom-ipad{
      display: none;
    }
    .vector-bottom{
      top: -40px;
    }
    h3{
      position: absolute;
      bottom: 64px;
      left: 70px;
      font-family: Montserrat-700, sans-serif;
      font-size: 30px;
      line-height: 37px;
      text-transform: uppercase;
    }
  }
}

.decidions{
  margin-top: 10px;
  .container{
    .grid{
      display: grid;
      grid-template-columns: 4fr 4fr 4fr;
      grid-template-rows: 164px 328px;
      gap: 15px;
      .box{
        background: #6CA7EF;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: .2s;
        &:hover{
          background-color: #5391DC;
          cursor: pointer;
        }
        p{
          margin: 0 auto;
          text-align: center;
          font-size: 18px;
          line-height: 21.6px;
          color: white;
          padding: 15px 0;
        }
        img{
          display: block;
          margin: 15px;
        }
      }
      .box-1{
        grid-row-start: 1;
        grid-row-end: 3;
        p{
          width: 270px;
        }
      }
      .box-2{
        grid-column-start: 2;
        grid-column-end: 4;
        flex-direction: row;
        p{
          width: 495px;
          margin: 0;
        }
      }
      .box-3{
        p{
          width: 213px;
        }
        img{
          padding-left: 19px;
        }
      }
      .box-4{
        p{
          width: 242px;
        }
      }
    }
  }
}

@media (max-width: 1200px){
  .banner{
    margin-top: 0;
    .container{
      .vector-top{
        width: 500px;
        top: 60px;
        right: 60px;
      }
      .header-polygons{
        top: 40px;
        width: 100px;
      }
      .banner-image{
        width: 400px;
        margin-top: 50px;
      }
      .title{
        padding: 80px 0 10px;
      }
      .vector-middle{
        width: 500px;
        top: 0;
        right: 60px;
      }
      .features{
        margin-top: 30px;
        .item{
          .text{
            display: flex;
            align-items: center;
            padding-left: 0;
          }
        }
      }
      .vector-bottom{
        width: 660px;
      }
      h3{
        bottom: 60px;
      }
    }
  }
}

@media (max-width: 991px) {
  .banner{
    margin-top: 0;
    .container {
      padding: 0 15px;
      .vector-top, .vector-middle{
        display: none;
      }
      .vector-top-ipad{
        display: block;
        width: 375px;
        margin: 30px auto 0;
        left: 5px;
      }
      .header-polygons{
        top: -5px;
        left: 20px;
        width: 139px;
        height: 152px;
      }
      .banner-image{
        top: -37px;
        right: 20px;
        width: 259px;
        height: 251px;
      }
      .title {
        padding: 10px 30px;

        h1 {
          font-size: 28px;
          line-height: 34.13px;
          padding-bottom: 5px;
        }

        h2 {
          font-size: 18px;
          line-height: 22px;
          margin: 0 0 5px;
        }

        p {
          font-size: 14px;
          line-height: 16.8px;
          width: 300px;
          margin: 0;
        }
        button.primary{
          margin-top: 15px;
        }
      }
      .vector-middle-ipad{
        display: block;
        margin: 5px auto 20px;
        right: 15px;
      }
      .features{
        margin-top: 0;
        padding: 0 15px 0 30px;
        .col-md-0{
          display: none;
        }
        .item{
          margin: 0 0 49px;
          padding-right: 15px;
          .text{
            padding: 0 15px 0 32px;
            position: relative;
            right: 9px;
            font-size: 16px;
            line-height: 19.2px;
          }
        }
      }
      .vector-bottom{
        display: none;
      }
      .vector-bottom-ipad{
        display: block;
        margin-left: -10px;
        margin-top: -19px;
      }

      h3{
        bottom: 17px;
        left: 43px;
      }
    }
  }

  .decidions {
    margin-top: 19px;
    .container {
      .grid {
        grid-template-columns: 6fr 6fr;
        grid-template-rows: 249px 249px;
        .box {
          p {
            margin: 0 auto;
            text-align: center;
            font-size: 18px;
            line-height: 21.6px;
            color: white;
            padding: 15px 0;
          }

          img {
            display: block;
            margin: 15px;
          }
        }

        .box-1 {
          grid-row-start: 1;
          grid-row-end: 2;

          p {
            width: 253px;
          }
        }

        .box-2 {
          grid-column-start: 2;
          grid-column-end: 3;
          flex-direction: column;

          p {
            width: 253px;
            margin: 0;
          }
        }

        .box-3 {
          p {
            width: 253px;
          }

          img {
            padding-left: 19px;
          }
        }

        .box-4 {
          p {
            width: 253px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .banner{
    .container {
      .vector-top-ipad, .vector-middle-ipad, .vector-bottom-ipad, .header-polygons{
        display: none;
      }
      .banner-image{
        width: 239px;
        height: 232px;
        position: static;
        top: 0;
        right: 0;
        margin: 45px auto 31px;
      }
      .title {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          text-align: center;
          margin-top: 12px;
        }
        button.primary{
          margin-top: 25px;
        }
      }
      .arrows{
        display: block;
        margin: 58px auto 0;
      }

      .features{
        margin: 50px 0 20px;
        .item{

        }
      }

      h3{
        position: static;
        text-align: center;
      }
    }
  }

  .decidions{
    .container{
      padding: 0 5px;
      .grid{

        .box{
          p{

          }
          img{

          }
        }
        .box-1{

          p{
            padding-top: 11.37px;
          }
          img{
            width: 68.74px;
            height: 57.4px;
          }
        }
        .box-2{

          p{
            padding-top: 7px;
          }
          img{
            width: 61px;
            height: 60px;
          }
        }
        .box-3{
          p{
            padding-top: 5px;
          }
          img{
            width: 70px;
            height: 70px;
            padding-left: 7px;
          }
        }
        .box-4{
          p{
            padding-top: 11px;
          }
          img{
            width: 80px;
            height: 70px;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .banner{
    .container {

      .banner-image{
        width: 239px;
        height: 232px;
        position: static;
        top: 0;
        right: 0;
        margin: 45px auto 31px;
      }
      h1{
        text-align: center;
      }
      .title {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          text-align: center;
          margin-top: 12px;
        }
        button.primary{
          margin-top: 25px;
        }
      }
      .arrows{
        display: block;
        margin: 58px auto 0;
      }
      .features{
        margin-top: 40px;
        padding: 30px;
        position: relative;
        left: 12px;
        .item{
          padding: 0;
          margin: 34px 0;
          .row{
            align-items: start;
          }
          .features__cube{
            padding: 0;
            margin-top: 5px;
          }
          .text{
            font-size: 18px;
            line-height: 21.6px;
            padding: 0 0 0 3px;
            position: static;
            margin-top: 0;
          }
        }
      }
      h3{
        position: static;
        text-align: center;
        margin-top: 35px;
      }
    }
  }

  .decidions{
    .container{
      padding: 0 15px;
      .grid{
        grid-template-columns: 12fr;
        grid-template-rows: 249px 249px 249px 249px;
        .box{
          p{

          }
          img{

          }
        }
        .box-1 {
          p {
            width: 253px;
          }
        }

        .box-2 {
          grid-column-start: 1;
          grid-column-end: 2;
          p {
            width: 253px;
            margin: 0;
          }
        }

        .box-3 {
          p {
            width: 253px;
          }

          img {
            padding-left: 19px;
          }
        }

        .box-4 {
          p {
            width: 253px;
          }
        }
      }
    }
  }
}