.banner{
  width: 100%;
  height: 1000px;
  margin-top: 94px;
  .container {
    position: relative;
    .banner-background {
      position: absolute;
      top: -3px;
      width: calc(100% - 24px);
      z-index: -1;
    }
    .banner-ipad-background{
      display: none;
    }
    .title {
      padding: 120px 30px;
      h1 {
        text-transform: uppercase;
        font-family: 'Montserrat-700', sans-serif;
        font-size: 44px;
        line-height: 53.64px;
        margin: 0;
      }

      h2 {
        text-transform: uppercase;
        font-family: 'Montserrat-700', sans-serif;
        font-size: 30px;
        line-height: 36.57px;
        margin: 3px 0 20px;
      }

      p {
        font-family: 'Lato-Regular', sans-serif;
        font-size: 22px;
        line-height: 26.4px;
      }
      button.primary{
        margin-top: 33px;
        width: 264px;
      }
    }

    .features{
      margin-top: 146px;
      .item{
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 76px;
        .text{
          display: flex;
          align-items: center;
          padding: 0 5px 0 13px;
        }
      }
    }

    h3{
      position: absolute;
      top: calc(100% + 86px);
      left: 70px;
      font-family: Montserrat-700, sans-serif;
      font-size: 30px;
      line-height: 37px;
      text-transform: uppercase;
    }
  }
}

.decidions{
  margin-top: 77px;
  .container{
    .grid{
      display: grid;
      grid-template-columns: 4fr 4fr 4fr;
      grid-template-rows: 164px 328px;
      gap: 15px;
      .box{
        background: #6CA7EF;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p{
          margin: 0 auto;
          text-align: center;
          font-size: 18px;
          line-height: 21.6px;
          color: white;
          padding: 15px 0;
        }
        img{
          display: block;
          margin: 15px;
        }
      }
      .box-1{
        grid-row-start: 1;
        grid-row-end: 3;
        p{
          width: 270px;
        }
      }
      .box-2{
        grid-column-start: 2;
        grid-column-end: 4;
        flex-direction: row;
        p{
          width: 495px;
          margin: 0;
        }
      }
      .box-3{
        p{
          width: 213px;
        }
        img{
          padding-left: 19px;
        }
      }
      .box-4{
        p{
          width: 242px;
        }
      }
    }
  }
}

@media (max-width: 1200px){
  .banner{
    height: 800px;
    .container{
      .title{
        padding: 80px 0 160px;
      }
      .features{
        margin-top: 30px;
        .item{
          .text{
            padding: 0 10px 0 0;
          }
        }
      }
      h3{
        top: calc(100% + 35px);
      }
    }
  }
}
@media (max-width: 991px) {
  .banner{
    height: 616px;
    margin-top: 0;
    .container {
      padding: 0 15px;
      .banner-background {
        display: none;
      }
      .banner-ipad-background{
        display: block;
        position: absolute;
        top: 24px;
        right: 19px;
        z-index: -1;
      }
      .title {
        padding: 120px 30px 96px;

        h1 {
          font-size: 28px;
          line-height: 34.13px;
        }

        h2 {
          font-size: 18px;
          line-height: 22px;
          margin: 0 0 8px;
        }

        p {
          font-size: 14px;
          line-height: 16.8px;
          width: 300px;
          margin: 0;
        }
        button.primary{
          margin-top: 15px;
        }
      }

      .features{
        margin-top: 0;
        .features-row{
          padding: 0 20px;
          position: relative;
          left: 10px;
        }
        .col-md-0{
          display: none;
        }
        .item{
          margin: 0 0 49px;
          padding-right: 30px;
          .text{
            padding: 0 0 0 32px;
            position: relative;
            right: 9px;
          }
        }
        .item *{
          font-size: 16px;
          line-height: 19.2px;
        }
      }

      h3{
        top: calc(100% + 60px);
        left: 43px;
      }
    }
  }

  .decidions {
    margin-top: 77px;

    .container {
      .grid {
        grid-template-columns: 6fr 6fr;
        grid-template-rows: 249px 249px;
        .box {
          p {
            margin: 0 auto;
            text-align: center;
            font-size: 18px;
            line-height: 21.6px;
            color: white;
            padding: 15px 0;
          }

          img {
            display: block;
            margin: 15px;
          }
        }

        .box-1 {
          grid-row-start: 1;
          grid-row-end: 2;

          p {
            width: 253px;
          }
        }

        .box-2 {
          grid-column-start: 2;
          grid-column-end: 3;
          flex-direction: column;

          p {
            width: 253px;
            margin: 0;
          }
        }

        .box-3 {
          p {
            width: 253px;
          }

          img {
            padding-left: 19px;
          }
        }

        .box-4 {
          p {
            width: 253px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .banner{
    .container {
      .banner-background {
      }
      .title {
        h1 {

        }

        h2 {

        }

        p {

        }
        button.primary{

        }
      }

      .features{

        .item{

        }
      }

      h3{

      }
    }
  }

  .decidions{
    .container{
      padding: 0 5px;
      .grid{

        .box{
          p{

          }
          img{

          }
        }
        .box-1{

          p{
            padding-top: 11.37px;
          }
          img{
            width: 68.74px;
            height: 57.4px;
          }
        }
        .box-2{

          p{
            padding-top: 7px;
          }
          img{
            width: 61px;
            height: 60px;
          }
        }
        .box-3{
          p{
            padding-top: 5px;
          }
          img{
            width: 70px;
            height: 70px;
            padding-left: 7px;
          }
        }
        .box-4{
          p{
            padding-top: 11px;
          }
          img{
            width: 80px;
            height: 70px;
          }
        }
      }
    }
  }
}