.training-card{
  box-shadow: 4px 4px 20px 0 #282C3733;
  padding: 39px 38px;
  border-radius: 20px;
  margin: 40px 0;
  h1{
    font-family: Montserrat-700, sans-serif;
    font-size: 30px;
    line-height: 36.57px;
    margin-bottom: 34px;
    max-width: 505px;
  }
  p{
    margin: 0 0 5px;
  }
  .primary-button{
    background-color: #287EE7;
    color: white;
    padding: 14px 25px 12px 23px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 24px;
    margin-left: 0;
    font-family: Montserrat-700, sans-serif;
    font-size: 16px;
    line-height: 19.5px;
    text-transform: uppercase;
    svg{
      margin-left: 43px;
    }
  }

  .main__list{
    padding-top: 7px;
    .item{
      .text{
        max-width: 390px;
      }
    }
  }
}