-icons = ["facebook", "whatsapp", "telegram"]

footer
    .container
        .row
            .col-xl-6
                p Все права защищены ©
            .col-xl-6
                .icons
                    each icon in icons
                        a.icon
                            img(src=`./assets/images/footer/${icon}.svg`)