
mixin mainList(list)
    .col-xl-6.col-xxl-6.col-lg-12.col-md-12.col-12.main__list
        each item in list.items
            .row.item
                .col-xl-2.col-xxl-2.col-lg-1.col-md-1.col-2.cube-wrapper
                    img(src="../../assets/images/cube.svg" class="cube" alt="cube")
                .col-xl-10.col-xxl-10.col-lg-11.col-10.text(class=list.nowrap)= item