.secondary__list{
  padding-left: 103px;
  padding-top: .5px;
  margin-bottom: 161px;
  li{
    margin: 10px 0;
    .description__item{
      font-family: Roboto-400, sans-serif;
      line-height: 19.92px;
      font-size: 17px;
    }
  }
  a{
    color: #5391DC;
  }
  li::marker{
    font-size: 35px;
    font-weight: bold;
    border-radius: 50%;
    color: #A5CBF9;
    display: block;
    position: relative;
    margin-top: 10px
  }
  .description__item{
    position: relative;
    bottom: 3px;
    left: 2px;
  }
}

@media (max-width: 1200px) {
  .secondary__list{
    padding-left: 50px;
  }
}
@media (max-width: 991px) {
  .secondary__list{
    padding-left: 30px;
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .secondary__list{
    padding-left: 30px;
  }
}
@media (max-width: 575px) {
  .secondary__list{
    padding-left: 30px;
  }
}