.secondary__list{
  padding-left: 103px;
  padding-top: .5px;
  margin-bottom: 161px;
  li{
    margin: 10px 0;
    .description__item{
      font-family: Roboto-400, sans-serif;
      line-height: 19.92px;
      font-size: 17px;
    }
  }
  li::marker{
    font-size: 35px;
    font-weight: bold;
    border-radius: 50%;
    color: #A5CBF9;
    display: block;
    position: relative;
    margin-top: 10px
  }
  .description__item{
    position: relative;
    bottom: 3px;
    left: 2px;
  }
}